<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Confirmation instructions</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="content-wrap">
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block">
										Hi username, welcome to skill slam.
									</td>
								</tr>
								<tr>
									<td class="content-block">
										You need to confirm your account email through the link below:
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<a href="link" class="btn-primary">Confirm my account</a>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Best Regards,<br/>
										The skill slam team<br/>
										<a href="mailto:contact@skillslam.com">contact@skillslam.com</a><br/>
										<a href="http://www.skillslam.com">http://www.skillslam.com</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
